*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: calc(100vw / var(--sizes-mobile) * 10);
  font-family: var(--font-satoshi);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: var(--color-black);
  color: var(--color-white);
}

@media (min-width: 768px) {
  html {
    font-size: calc(100vw / var(--sizes-desktop) * 10);
  }
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#scroll-wrapper {
  position: relative;
  overflow-x: clip;
  overflow-y: scroll;
  height: 100vh;
  height: 100dvh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* html.loaded #scroll-wrapper {
  position: relative;
  overflow-y: scroll;
} */

#scroll-wrapper::-webkit-scrollbar {
  display: none;
}

#scroll-content {
  position: relative;
}

.content {
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: var(--z-content);
}

html.loaded .content {
  opacity: 1;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid__wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--grid-gutter);
  padding: 0 var(--grid-margin);
  z-index: var(--z-grid);
  pointer-events: none;
}

.grid {
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.1);
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--z-canvas);
}
