---

---

<astro-menu>
  <div
    class="menu fixed left-0 top-0 w-full h-dvh hidden bg-white text-black z-menu"
  >
    <div
      class="menu__scroll relative overflow-x-clip overflow-y-scroll h-dvh scroll-wrapper"
    >
      <div class="menu__content relative h-[150dvh] flex items-center p-grid">
        <button class="menu__close fixed top-grid right-grid text-s uppercase">
          close
        </button>
        <p class="text-base">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad
          doloremque molestias enim neque, ab omnis officia, voluptatem at unde
          quis perspiciatis, maxime deleniti. Quae necessitatibus rem molestiae
          ab non vitae obcaecati repellat illo quia in repudiandae laboriosam
          deleniti praesentium rerum saepe unde illum eveniet omnis sequi,
          consectetur, alias laborum? Quo obcaecati minima ipsum consequatur,
          numquam repellat veritatis, quidem magnam nihil odit commodi voluptas
          eveniet excepturi? Saepe blanditiis cum eos maiores assumenda dolor
          quam pariatur consectetur rem sint nostrum porro fuga necessitatibus
          obcaecati praesentium, beatae sapiente ipsum error provident molestiae
          nemo voluptates laboriosam at! Dolorem esse ducimus repellendus
          recusandae dignissimos, nam autem quae id omnis dolores corporis
          temporibus iure sed architecto officia facilis natus exercitationem
          quidem neque nostrum provident dolor doloremque?
        </p>
      </div>
    </div>
  </div>
</astro-menu>
<script>
  // @ts-nocheck
  import Lenis from "lenis";
  import { gsap } from "gsap";

  import Component from "../scripts/classes/Component";
  import { events } from "../scripts/utils/events";
  import { expoOut } from "../scripts/utils/easing";

  class AstroMenu extends HTMLElement {
    private menu: HTMLElement | null = null;
    private scroll: HTMLElement | null = null;
    private content: HTMLElement | null = null;
    private close: HTMLElement | null = null;
    private isOpened: boolean = false;
    private lenis: Lenis | null = null;

    constructor() {
      super();

      this.menu = this.querySelector(".menu");
      this.scroll = this.querySelector(".menu__scroll");
      this.content = this.querySelector(".menu__content");
      this.close = this.querySelector(".menu__close");
    }

    createLenis() {
      this.lenis = new Lenis({
        wrapper: this.scroll,
        content: this.content,
        lerp: 0.125,
        wheelMultiplier: 0.75,
        touchMultiplier: 0.75,
        autoRaf: false,
      });
    }

    connectedCallback() {
      events.on("menu:open", this.onShow);
      events.on("menu:close", this.onHide);
      events.on("start-update", this.onUpdate);

      this.close?.addEventListener("click", this.onClick);

      this.createLenis();
    }

    disconnectedCallback() {
      events.off("menu:open", this.onShow);
      events.off("menu:close", this.onHide);
      events.off("start-update", this.onUpdate);

      this.close?.removeEventListener("click", this.onClick);

      this.lenis?.destroy();
    }

    onClick = () => events.emit("menu:close");
    onShow = () => this.show();
    onHide = () => this.hide();
    onUpdate = ({ time }) => this.update({ time });

    show() {
      if (this.isOpened) return;

      this.isOpened = true;

      const tl = gsap.timeline({
        defaults: {
          duration: 1.5,
          ease: expoOut,
        },
      });

      tl.set(this.menu, {
        display: "block",
        clipPath: "inset(0% 0% 100% 0%)",
      }).fromTo(
        this.menu,
        {
          clipPath: "inset(0% 0% 100% 0%)",
        },
        {
          clipPath: "inset(0% 0% 0% 0%)",
          duration: 1.75,
        },
        0,
      );
    }

    hide() {
      if (!this.isOpened) return;

      const tl = gsap.timeline({
        defaults: {
          duration: 1.25,
          ease: expoOut,
        },
        onComplete: () => {
          gsap.set(this.menu, {
            display: "none",
          });

          this.isOpened = false;
        },
      });

      tl.fromTo(
        this.menu,
        {
          clipPath: "inset(0% 0% 0% 0%)",
        },
        {
          clipPath: "inset(0% 0% 101% 0%)",
        },
        0,
      );
    }

    update({ time }) {
      if (this.isOpened && this.lenis) {
        this.lenis.raf(time);
      }
    }
  }

  customElements.define("astro-menu", AstroMenu);
</script>
